.all-the-navbar {
  display: flex;
background-color: rgb(65, 118, 144);
border-radius: 5%;
}

h6 {
text-decoration: none;
}

.login {
  margin-left: 100vh;
  text-align: center;
}

.Typography {
  color: aqua;
}

.logo {
  width: 200px;
  border-radius: 10%;
}